/* html, body {
  overflow-x: hidden;
} */

.as-everythingContainer {
  /* background-color: purple */
}

.as-title {
  text-align: center;
  /* margin-top: 1em; */
  font-family: 'Noto Sans', sans-serif;
  font-size: 30;
  font-weight: 700;
  z-index: -999;
}

.as-similarProductsDIV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* height: 400px; */
  /* width: 100%; */
  /* background-color: yellow; */
}

.as-youMightAlsoLikeDIV{
  /* position: 'absolute'; */
  /* marginTop: '0.5em', */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: skyblue; */
}

.as-styledSimilarProductsOverflow {
  /* position: absolute; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  height: 400px;
  width: 865px;
  overflow: hidden;
  /* left: 13rem; */
  /* background-color: blue; */
}

.as-styledYouMightAlsoLikeOverflow {
  /* position: absolute; */
  height: 400px;
  width: 865px;
  /* left: 13rem; */
  overflow: hidden;
  /* background-color: orange; */
}

.as-footerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.as-styledProductList {
  display: flex;
  /* margin-left: 200px; */
}

.as-styledItem {
  padding: 20px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  cursor: pointer;
}

.as-styledItem:hover .as-productImage {
  transform: scale(1.06);
}

.as-styledItem:hover .as-productName {
  text-decoration: underline;
}

.as-styledLikeItem:hover .as-productImage {
  transform: scale(1.06);
}

.as-styledLikeItem:hover .as-productName {
  text-decoration: underline;
}

.as-productName {
  font-family: 'Noto Sans', 'sans-serif';
  font-weight: 550;
}

.as-description {
  font-family: 'Noto Sans', 'sans-serif';
  font-size: 14px;
}

.as-price {
  font-family: 'Noto Sans', 'sans-serif';
  font-size: 26px;
  font-weight: 700;
}

.as-starRatings {
  display: flex;
  font-family: 'Noto Sans', 'sans-serif';
  font-size: 15px;
}

.as-starSize {
  height: 20px;
  width: 20px;
}

.as-similarProductLeftArrow {
  /* position: absolute;
  top: 15rem;
  left: 10rem; */
  z-index: 99;
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.as-similarProductLeftArrowSVG {
  position: relative;
  top: 16px;
  left: 16px;
  height: 30px;
  width: 30px;
}

.as-similarProductLeftCircle {
  /* position: absolute; */
  height: 60px;
  width: 60px;
  top: -10px;
  left: -10px;
  border-radius: 200%;
}

.as-similarProductLeftCircle:hover {
  background-color: #bbb;
}

.as-similarProductRightArrow {
  /* position: absolute;
  top: 15rem;
  right: 11rem; */
  z-index: 99;
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.as-similarProductRightArrowSVG {
  position: relative;
  top: 16px;
  left: 16px;
  height: 30px;
  width: 30px;
}

.as-similarProductRightCircle {
  /* position: absolute; */
  height: 60px;
  width: 60px;
  top: -1rem;
  left: 0rem;
  border-radius: 200%;
}

.as-similarProductRightCircle:hover {
  background-color: #bbb;
}

.as-youMightLikeLeftArrow {
  /* position: absolute;
  top: 15rem;
  left: 10rem; */
  z-index: 99;
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.as-youMightLikeLeftArrowSVG {
  position: relative;
  top: 16px;
  left: 16px;
  height: 30px;
  width: 30px;
}

.as-youMightLikeLeftCircle {
  /* position: absolute; */
  height: 60px;
  width: 60px;
  top: -10px;
  left: -10px;
  border-radius: 200%;
}

.as-youMightLikeLeftCircle:hover {
  background-color: #bbb;
}

.as-youMightLikeRightArrow {
  /* position: absolute;
  top: 15rem;
  right: 11rem; */
  z-index: 99;
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.as-youMightLikeRightArrowSVG {
  position: relative;
  top: 16px;
  left: 16px;
  height: 30px;
  width: 30px;
}

.as-youMightLikeRightCircle {
  /* position: absolute; */
  height: 60px;
  width: 60px;
  top: -1rem;
  left: 0rem;
  border-radius: 200%;
}

.as-youMightLikeRightCircle:hover {
  background-color: #bbb;
}

.as-showHistoryWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.as-showAllHistory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100;
  /* background-color: pink; */
}

.as-styledHistory {
  /* position: absolute; */
  display: flex;
  height: 100px;
  /* width: 800px; */
  /* margin-left: 20px; */
  cursor: pointer;  
}

.as-styledShowHistory {
  position: relative;
  /* top: 2rem; */
  /* width: 100px; */
  margin-left: 20px;
  font-family: 'Noto Sans', sans-serif;
  color: #0058a3;
  /* color: red; */
  font-weight: 900;
  z-index: 10;
  cursor: pointer;
}

.as-styledShowHistory:hover {
  text-decoration: underline;
  color: #2196f3;
}

.as-styledHistoryEntry {
  padding: 15px;
  transition: transform .2s; /* Animation */
  /* margin: 0 auto; */
  /* margin-left: */
  cursor: pointer;
}

.as-styledHistoryEntry:hover .as-styledHistoryProductImage {
  transform: scale(1.06);
}

.as-helpFamily {
  /* flex-grow: 1; */
  margin-top: 100px;
}

.as-helpSpan {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.as-styledHelpIcon {
  height: 2.25rem;
  width: 2.25rem;
  stroke-width: 0.5;
  fill: white;
  stroke: none;

  /* position: absolute; */
  top: 100px;
  left: 60px;
}

.as-styledHelp {
  /* position: absolute; */
  top: 105px;
  left: 105px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-weight: 700;
}

.as-styledHelpList {
  /* position: absolute; */
  top: 150px;
  left: 60px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  line-height: 200%;
}

.as-styledHelpListEntry {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  line-height: 200%;
}

.as-styledHelpListEntry:hover {
  text-decoration: underline;
}

.as-shopFamily {
  /* flex-grow: 1; */
  margin-top: 100px;
}

.as-shopSpan {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.as-styledShopIcon {
  height: 2.25rem;
  width: 2.25rem;
  stroke-width: 0.5;
  fill: white;
  stroke: none;
  
  /* position: absolute; */
  top: 100px;
  left: 375px;
}

.as-styledShop {
  /* position: absolute; */
  top: 105px;
  left: 420px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-weight: 700;
}

.as-styledShopList {
  /* position: absolute; */
  top: 150px;
  left: 375px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  line-height: 200%;
}

.as-styledShopListEntry {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  line-height: 200%;
}

.as-styledShopListEntry:hover {
  text-decoration: underline;
}

.as-aboutFamily {
  /* flex-grow: 1; */
  margin-top: 100px;
}

.as-aboutSpan {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.as-styledAboutIcon {
  height: 2.25rem;
  width: 2.25rem;
  stroke-width: 0.5;
  fill: white;
  stroke: none;
  
  /* position: absolute; */
  top: 100px;
  left: 700px;
}

.as-styledAbout {
  /* position: absolute; */
  top: 105px;
  left: 750px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-weight: 700;
}

.as-styledAboutList {
  /* position: absolute; */
  top: 150px;
  left: 700px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  line-height: 200%;
}

.as-styledAboutListEntry {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  line-height: 200%;
}

.as-styledAboutListEntry:hover {
  text-decoration: underline;
}

.as-infoFamily {
  /* flex-grow: 1; */
  margin-top: 100px;
}

.as-infoSpan {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.as-styledInfoIcon {
  height: 2.25rem;
  width: 2.25rem;
  stroke-width: 0.5;
  fill: white;
  stroke: none;
  
  /* position: absolute; */
  top: 100px;
  left: 980px;
}

.as-styledInfo {
  /* position: absolute; */
  top: 105px;
  left: 1025px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-weight: 700;
}

.as-styledInfoList {
  /* position: absolute; */
  top: 150px;
  left: 980px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  line-height: 200%;
}

.as-styledInfoListEntry {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  line-height: 200%;
}

.as-styledInfoListEntry:hover {
  text-decoration: underline;
}